body {
    font-family: "Poppins", sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

.header {
    text-align: center;
    font-size: 54px;
}

.text {
    font-size: 24px;
    background-color: bisque;border-radius: 12px;padding: 100px;
}